<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="elaachiV2">

    <listeners>
    <listener class-name="com.elaachiV2.Utilities.Reporting"/>
    </listeners>
  <test name="RestaurantApp test">
  <parameter name="browser" value="chrome"/>
    <classes>
        <class name="com.elaachiV2.testCases.TC_LoginTest_001"/>
  <!-- <class name="com.elaachiV2.testCases.TC_AddNewReservation_002"/>-->
    </classes>
  </test> 
</suite>
